body{
    margin:0;
    background:red;
    text-align:center;
}
nav{
    background:yellow;
    width:100%;
    float:none;
    display: flex;
    place-content:center;
}
section span{
    font-size:12px;
}